html.dark {
  --c-border: #3e4c5a !important;
  --c-bg: #22272e !important;
}
html {
  --c-border: #d9d9d9;
  --c-bg: #fff;
}
.VPSidebar::-webkit-scrollbar {
  width: 5px;
}

.VPSidebar::-webkit-scrollbar-track {
  background-color: var(--c-border);
}
.VPSidebar::-webkit-scrollbar-thumb {
  background-color: var(--vp-c-brand);
  border-radius: 10px;
}
/* body, .VPSidebar, .curtain, .content-body {
  background-color: var(--c-bg) !important;
} */