html.dark {
  --c-border: #3e4c5a !important;
  --c-bg: #22272e !important;
}
html {
  --c-border: #d9d9d9;
  --c-bg: #fff;
}
#nprogress .bar{
  background: var(--vp-c-brand) !important;
}
.VPSidebar::-webkit-scrollbar {
  width: 5px;
}

.VPSidebar::-webkit-scrollbar-track {
  /* background-color: var(--c-border); */
  background-color: transparent;
}
.VPSidebar::-webkit-scrollbar-thumb {
  background-color: var(--vp-c-brand);
  border-radius: 10px;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  /* background-color: #0003; */
  background-color: var(--vp-c-brand);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  /* background-color: #0000004d; */
  cursor: pointer;
}
body,
.VPSidebar,
.curtain,
.content-body,
.VPFooter,
.VPNavBar
 {
  background-color: var(--c-bg) !important;
}
.github-users_flex {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 30px 0;
  justify-content: center;
}
.package-flex {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.github-users_flex img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.github-users_flex a:hover span {
  color: var(--vp-c-brand) !important;
}
.github-users_flex a {
  text-decoration: none !important;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--vp-c-text-1);
}
.github-users_flex a span {
  transition: all 0.3s;
  color: var(--vp-c-text-1);
}
.aside {
  display: none !important;
}

.title {
  margin-bottom: 30px;
}

.text-size-24 {
  font-size: 24px;
}

.text-size-20 {
  font-size: 20px;
}

.text-size-18 {
  font-size: 18px;
}

.description {
  text-align: center;
  color: var(--vp-c-text-1);
  line-height: 32px;
  font-weight: 600;
  outline: none;
  margin-bottom: 20px;
}

.my {
  margin: 80px 0 40px;
}
svg:hover path {
  fill: currentColor;
}